*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.first-div{
    background-color: hsl(0, 0%, 100%);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 10px 10px 2px 2px black;
}
.this{
    color: hsl(47, 88%, 63%);
}
.gh{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 787px) {
    .first-div{
        padding: 10px 10px;
    }
    .imgg{
        width: 300px;
    }
}
